<!DOCTYPE html>
<html ng-app='carFinder'>
    <head>
        <meta charset="utf-8">
        <title>Car Finder</title>

        <!-- STYLES -->
        <link rel="stylesheet" href="assets/libs/bootstrap.min.css">
        <link rel="stylesheet" href="styles.css" >

        <!-- ANGULAR, BOOTSTRAP AND MY JAVASCRIPTS -->
        <script type="text/javascript" src='assets/libs/angular.min.js'></script>
        <script src="assets/libs/jquery-2.1.3.min.js"></script>
        <script src="assets/libs/bootstrap.min.js"></script>
        <script type="text/javascript" src='app.js'></script>
        <script type="text/javascript" src='scripts.js'></script>

    </head>

    <body ng-controller='CarController as car'>

        <!-- NAVIGATION WITH SEARCH BOXES -->
        <nav role="navigation">
          <div class="container">

              <!-- LOGO, MAIN HEADING, SUBHEADING -->
              <div class="row">
                  <div class="col-lg-12">
                      <img id='nav-city-seal' src="cityseal.gif" alt="Chicag City Seal" />
                      <h1>Find Your Vehicle</h1>
                      <p id='nav-subheading'>Search Relocated and Police Towed Vehicles</p>
                  </div>
              </div>

              <!-- SEARCH INPUTS  -->
              <div class="row">
                  <form class="form-inline" >
                      <div class="col-lg-4 col-md-4">
                          <div class="form-group">
                              <p class='search-by-label'>Search By License or Street: </p>
                              <input autofocus id='query' type="text" ng-model='query' class='form-control my-nav-inputs' placeholder='License plate # OR Street moved to or from '>
                          </div>
                      </div>
                      <div class="col-lg-8 col-md-8">
                          <!-- <div class="form-group">
                              <p class='search-by-label'>Search By Date Relocated: </p>
                              <input  type="text" name='dateSearch' ng-model='dateSearch' class='form-control my-nav-inputs' placeholder='Required Format: 2016-03-31' >
                          </div> -->

                          <div class="form-group">
                              <p class='search-by-label'>Search By Date Range: </p>
                              <label for="">From:</label><br>
                              <input  type="date" id='dateFromInput' ng-model='dateFrom' class='form-control data-input'  >

                              <label for="">To:</label><br>
                              <input  type="date" id='dateToInput' ng-model='dateTo' class='form-control date-input' >
                          </div>


                      </div>

                    <!--  MODAL LINK -->
                    <button type='button' class='btn' data-toggle='modal' data-target='#githubModal'>How Do I Get My Vehicle?</button>
              </div>
          </div>
        </nav>

        <!-- TABLE OF DATA -->
        <div id='table-area' class="container">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Date & Time Relocated</th>
                        <th>Color & Make</th>
                        <th>License</th>
                        <th>Relocated From</th>
                        <th>Relocated To</th>
                        <th>Reason</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat='car in cars | filter: query | dateRangeFilter:dateFrom:dateTo' >
                    <!-- <tr ng-repeat='car in cars | filter: query ' > -->
                        <td>{{car[8] }}</td>
                        <td>{{car[10]}} {{car[9]}}</td>
                        <td>{{car[11]}}</td>
                        <td>{{car[13] | removeDecimal }} {{car[14]}}. {{car[15]}} {{car[16]}}.</td>
                        <td>{{car[17]}} {{car[18]}}. {{car[19]}}</td>
                        <td>{{car[21]}}</td>
                    </tr>
                </tbody>
            </table>
        </div> <!-- end container -->

    <!-- MODAL -->
    <div class="modal fade" id="githubModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Get Your Vehicle</h4>
          </div>
          <div class="modal-body">
              <p>Vehicles may be relocated, but not impounded, due to inoperability, accident, severe weather, special events, construction or other work being performed in a thoroughfare where the vehicle was previously located. Note: This dataset presents current and former locations of vehicles that have been relocated by the City of Chicago within the last 90 days.</p>
          </div>
        </div>
      </div>
    </div> <!-- END MODAL -->

    </body>
</html>
