nav {
    background:
	linear-gradient(to left top, rgba(35, 47, 62, 1), rgba(87, 151, 229, 0.9)), url("parking-lot.jpg") no-repeat;
	background-size: cover;
    color: #f3A847;
    padding-bottom: 30px;
}
body {
    background-color: rgb(178, 209, 230);
}
table {
    background-color: #E4E8EB;
}
#nav-subheading {
    color: white;
}
#nav-menu {
    clear: both;
    list-style-type: none;
    padding: 25px 0px 10px 15px;
}
#nav-menu li {
    display: inline;
    font-weight: bold;
    font-size: 95%;
    padding-right: 12px;
}
#nav-menu a, #nav-menu a:hover {
    color: white;
    text-decoration: none;
    border-radius: 3px;
}
#nav-menu li:hover {
    background-color: #991C0F;
}
#nav-city-seal {
    float: left;
    margin-right: 15px;
}
nav form {
    clear: left;
}
nav .form-group {
    width: 100% !important;
}
nav .my-nav-inputs {
    border: 1px solid orange;
    margin-top: 5px;
    font-size: 14px;
    width: 100%;
    min-width: 375px !important;
}
nav .date-input {
    border: 1px solid orange;
    margin-top: 5px;
    font-size: 14px;
    width: 40%;
    width: 160px;
    color: grey;
}
#query {
    margin-top: 30px;
    min-width: 332px;
}
#from-date-div {
    padding-right: 10px;
}
#table-area {
    padding-top: 25px;
}
.search-by-label {
    font-size: 18px;
    margin-bottom: 0px;
    margin-top: 9px;
    font-weight: bold;
}
.modal-body {
    color: grey;
}
.btn {
    margin: 20px 0px 23px 15px;
    background-color: #f3A847;
    color: #232f39;
    clear: both;
}
.btn:hover {
    background-color: #FFB800;
}

@media only screen and (max-width: 1200px){
    nav .my-nav-inputs {
        min-width: 310px !important;
    }
}
